.card_div{
    width: 28rem;
    height: 64rem;
    background-color: #A8001F;
    color: aliceblue;
    font-size: 29px;
    margin-left: 21px;
    border-radius: 23px;
}

.form_div div{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}
.form_div{
    margin-top: 6px;
}
.card-header{
    font-family: 'bootstrap-icons';
    color: white;
    margin-top: 6px;
}
input{
    color: black;
    font-weight: 500;
}
.text-success{
    background-color: rgb(255, 234, 0);
}
.spinner_div{
    position: absolute;
    top: 26rem;
    left: 13rem;
}
.clearbtn{
    margin-top: 3rem;
    width: 10rem;
    height: 3rem;
    position: absolute;
    left: 16rem;
    bottom: 1rem;
    color: bisque;
    font-size: 23px;
    font-style: italic;
    font-family: cursive;
}
.clearbtn:hover{
    color: black;
    font-style: italic;
    font-family: cursive;
}
.submitbtn{
    margin-top: 9rem;
    width: 11rem;
    height: 3rem;
    color: bisque;
    font-size: 26px;
    font-style: italic;
    font-family: auto;
    position: absolute;
    bottom: 1rem;
}
.submitbtn:hover{
    color: black;
    font-style: italic;
    font-family: auto;
}