<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div style="background-color: #A8001F;
height: 71rem;
padding-right: 88rem;
margin: 0;">
    <div class="row">
        <div class="col-md-4 icon_div">
            <span class="img-fluid rounded-start">
                <i class="fa fa-user-md" aria-hidden="true"></i>
            </span>
        </div>
        <div class="col-md-4 profile_info">
            <div  style="margin-left: 7rem;
        width: 40rem;
        margin-top: 1rem;
        position: absolute;
        left: 22rem;">
                <h5 style="font-size: 41px;
                color: antiquewhite;">Your Profile Information</h5>
            </div>
        </div>
        <div class="col d-flex flex-row" style="height: 30rem;
        width: 34rem;
        border: black;
        background-color: white;
        margin-left: 37rem;
        margin-top: 10rem;">
            <div  style="padding: 0.5em;
                    font-weight: 700;
                    font-size: 22px;
                    color: #e75e8d;">
                <table style="margin: 1rem;">
                    <tbody>
                        <tr style="border: 1px solid;">
                            <td>
                                <p style="margin: 0;
                                    margin-left: 4rem;
                                    margin-top: 2rem;">Name</p>
                            </td>
                            <td>
                                <p style="margin-left: 7rem;
                                    margin-top: 3rem;">Aboli Pande</p>
                            </td>
                        </tr>
                        <tr style="border: 1px solid;">
                            <td>
                                <p style="margin: 0;
                                margin-left: 4rem;
                                margin-top: 2rem;">Gender</p>
                            </td>
                            <td>
                                <p style="margin-left: 7rem;
                                    margin-top: 3rem;">Female</p>
                            </td>
                        </tr>
                        <tr style="border: 1px solid;">
                            <td>
                                <p style="margin: 0;
                                    margin-left: 4rem;
                                    margin-top: 2rem;">Contact No</p>
                            </td>
                            <td>
                                <p style="margin-left: 7rem;
                                    margin-top: 3rem;">1156790865</p>
                            </td>
                        </tr>
                        <tr style="border: 1px solid;">
                            <td>
                                <p style="margin: 0;
                                margin-left: 4rem;
                                margin-top: 2rem;">Email Id</p>
                            </td>
                            <td>
                                <p style="margin-left: 7.1rem;
                                    margin-top: 3rem;padding-right: 30px;">aboli@gmail.com</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>