<div class="container-fluid" style = "padding-left: 8.5rem;padding-top: 11rem;padding-bottom: 17rem;background-color: white;position: absolute;right: 3rem;">
<div style="margin-bottom: 2rem;margin-left: 79rem;">
    <a routerLink="/admin/add-new-patient">
    <button  style="background-color: #A8001F;"><img src="https://img.icons8.com/?size=1x&id=11255&format=png" alt="" style="height: 2rem;margin-top: 1px;background-color: white;margin-bottom: 7px;width: 2rem;"><span style="color:white;font-size: 26px;margin-left: 12px;font-family: emoji;">Add a new patient</span></button>
    </a>
</div>
<table border>
    <thead>
    <tr>
        <th>PATIENT's ID</th>
        <th>PATIENT's NAME</th>
        <th>GENDER</th>
        <th>ADDRESS</th>
        <th>CONTACT NO</th>
        <th>Appointment Date</th>
        <th>Payment</th>
        <th>EMAIL ID</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of patients">
        <td>{{item.patient_id}}</td>
        <td>{{item.patient_name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.address}}</td>
        <td>{{item.contact_no}}</td>
        <td>{{item.app_date}}</td>
        <td>{{item.payment}}</td>
        <td>{{item.email_id}}</td>
        <td>{{item.password}}</td>
        <td style="width: 18rem;">
            <button (click)="updatePatient(item.patient_id)" class="btn btn-info updatebtn">Update</button>
            <button (click)="deletePatient(item.patient_id)" class="btn btn-danger deletebtn">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</div>