<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<div class="container-fluid" style="background-color: aliceblue;
padding-top: 2rem;">
    <div style="margin: 2em;">
        <div style="margin: 0;">
            <div style="margin-bottom: 1.25em;">
                <div class="card welcome_content">
                    <div class="card-body" style="padding: 0;
                border-color: #d51515;
                border-style: dotted;">
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <h5 style="margin-left: 4rem;
                            font-size: 2rem;">Hello, Dr. Aboli Pande</h5>
                                <p style="margin-top: 0;
                            margin-bottom: 1rem;
                            font-size: 34px;
                            font-weight: bolder;
                            color: crimson;
                            margin-left: 4rem;">Welcome to your dashboard</p>
                            </div>
                            <div class="col-md-6" style="text-align: right;">
                                <img src="https://hospital-admin.vercel.app/SiteAssets/images/hello.svg"
                                    style="width: 60%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-4" style="margin: 0rem;
    padding-right: 0;
    margin-left: 7rem;">
        <div class="col col-12 col-sm-12 col-md-3 col-xl-3 col-xxl-3 col-lg-3 d-flex flex-row doctor_div">
            <h2>
                <img src="https://img.icons8.com/?size=512&id=14857&format=png" style="height: 5rem;
                width: 5rem;">
            </h2>
            <div>
                <p style="margin-top: 1.5rem;
                margin-left: 7.3rem;font-size: 36px;color: white;">7</p>
                <p class="doctors_p">Doctors</p>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3 col-lg-3 d-flex flex-row">
            <h2>
                <img src="https://img.icons8.com/?size=512&id=13277&format=png" alt="" style="height: 5rem;
                width: 5rem;">
            </h2>
            <div>
                <p style="margin-top: 1.5rem;
                    margin-left: 6.3rem;font-size: 36px;color: white;">7</p>
                <p class="patients_p">Patients</p>
            </div>
        </div>
    </div>

    <div class="row row-cols-4" style="margin-left: 9rem;">
        <div class="col col-12 col-sm-12 col-md-3 col-xl-3 col-xxl-3 col-lg-3 d-flex flex-row" style="height: 28rem;
        width: 22rem;
        border: black;
        background-color: white;
        margin-left: 12.6rem;">
            <div class="card" style="margin-bottom: 0.5em;
                margin-top: 1rem;
                margin-left: 1rem;
                width: 17rem;
                border: none;">
                <div class="card-header" style="padding: 0.5em;
                    border: none;
                    background-color: white;
                    margin-left: 0rem;
                    margin-top: 1rem;">
                    <h5 style="font-size: 2.21rem;">Top Treatments</h5>
                </div>
                <div class="card-body" style="padding: 0.5em;
                    font-weight: 700;
                    font-size: 22px;
                    color: #e75e8d;">
                    <ul>
                        <li>
                            Stroke
                        </li>
                        <li>Migraine</li>
                        <li>dementias</li>
                        <li>Asthma</li>
                        <li>Aspergillosis</li>
                        <li>Chronic cough</li>
                        <li>Childhood asthma</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-xl-3 col-xxl-3 col-lg-3 d-flex flex-row" style="height: 28rem;
        width: 22rem;
        border: black;
        background-color: white;
        margin-left: 16.5rem;">
            <div class="card" style="margin-bottom: 0.5em;
            margin-top: 1rem;
            margin-left: 1rem;
            width: 17rem;
            border: none;">
                <div class="card-header" style="padding: 0.5em;
        border: none;
        background-color: white;
        margin-left: 0rem;
        margin-top: 1rem;">
                    <h5 style="font-size: 2.21rem;">Top Specialists</h5>
                </div>
                <div class="card-body" style="padding: 0.5em;
            font-weight: 700;
            font-size: 22px;
            color: #e75e8d;">
                    <ul>
                        <li>Gauri Pande</li>
                        <li>Anindita Banerjee</li>
                        <li>Sonali Mane</li>
                        <li>Isha Deshmukh</li>
                        <li>Swara Desai</li>
                        <li>Ajit Kumar</li>
                        <li>Aasha Joshi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-4" style="margin-left: 9rem;">
        <div class="col col-12 col-sm-12 col-md-3 col-xl-3 col-xxl-3 col-lg-3 d-flex flex-row" style="    height: 39rem;
        width: 34rem;
        border: black;
        background-color: white;
        margin-left: 25rem;">
            <div class="card" style="margin-bottom: 0.5em;
                margin-top: 1rem;
                margin-left: 1rem;
                width: 31rem;
                border: none;">
                <div class="card-header" style="padding: 0.5em;
                    border: none;
                    background-color: white;
                    margin-left: 0rem;
                    margin-top: 1rem;">
                    <h5 style="font-size: 2.21rem;">Some Of The Patients</h5>
                </div>
                <div class="card-body" style="padding: 0.5em;
                    font-weight: 700;
                    font-size: 22px;
                    color: #e75e8d;">
                    <table>
                        <tbody>
                            <tr>
                                <td><img src="https://img.icons8.com/?size=512&id=21441&format=png" alt="" style="width: 3rem;
                                    margin-top: 2rem;"></td>
                                <td><p style="margin: 0;
                                    margin-left: 6rem;
                                    margin-top: 2rem;">Jiya Shankar</p></td>
                                <td><p style="margin-left: 4rem;
                                    margin-top: 3rem;">Female</p></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/?size=512&id=21441&format=png" alt="" style="width: 3rem;
                                    margin-top: 2rem;"></td>
                                <td><p style="margin: 0;
                                    margin-left: 6rem;
                                    margin-top: 2rem;">Amit Pande</p></td>
                                <td><p style="margin-left: 4rem;
                                    margin-top: 3rem;">Male</p></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/?size=512&id=21441&format=png" alt="" style="width: 3rem;
                                    margin-top: 2rem;"></td>
                                <td><p style="margin: 0;
                                    margin-left: 6rem;
                                    margin-top: 2rem;">Sunita Joshi</p></td>
                                <td><p style="margin-left: 4rem;
                                    margin-top: 3rem;">Female</p></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/?size=512&id=21441&format=png" alt="" style="width: 3rem;
                                    margin-top: 2rem;"></td>
                                <td><p style="margin: 0;
                                    margin-left: 6rem;
                                    margin-top: 2rem;">Rajashri Desai</p></td>
                                <td><p style="margin-left: 4rem;
                                    margin-top: 3rem;">Female</p></td>
                            </tr>
                            <tr>
                                <td><img src="https://img.icons8.com/?size=512&id=21441&format=png" alt="" style="width: 3rem;
                                    margin-top: 2rem;"></td>
                                <td><p style="margin: 0;
                                    margin-left: 6rem;
                                    margin-top: 2rem;">Gauri Deshmukh</p></td>
                                <td><p style="margin-left: 4rem;
                                    margin-top: 3rem;">Female</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class=" footer_div" style="margin-left: 0;">
        <div class="row align-items-center" style="background-color: #A8001F;">
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <p class="footer" style="color: white;
                margin-top: 1rem;
                font-size: 24px;">Copyright © Created By Aboli Pande. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>