.card_div{
    width: 28rem;
    height: 63rem;
    /* background-color: #4b2631; */
    /* color: aliceblue; */
    font-size: 34px;
    margin-left: 21px;
    border-radius: 23px;
    margin-top: -65px;
}
.col-xxl-4{
    width: 39.333333%;
    height: 63rem;
}
.submit_btn{
    position: absolute;
    color: #f7f8fb;
    font-size: large;
    font-weight: bolder;
    width: 9rem;
    height: 3rem;
    left: 15rem;
    bottom: 2rem;
}
.clearbtn{
    position: absolute;
    color: #f7f8fb;
    font-size: large;
    font-weight: bolder;
    width: 9rem;
    bottom: 2rem;
    height: 3rem;
    left: 3rem;
}
.spinner_div{
    position: absolute;
    top: 28rem;
    left: 13rem;
}
/*.row .align-items-center{
    height: 66rem;
}*/
.text-success{
    background-color: rgb(255, 234, 0);
}
.form_div div{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}
.form_div{
    margin-top: 6px;
}
.card-header{
    font-family: 'bootstrap-icons';
    color: white;
    margin-top: 6px;
}
/*.btn{
    width: 150px;
    height: 41px;
    margin-left: 135px;
    margin-top: 27px;
    color: #18eecb;
}*/
input{
    color: black;
    font-weight: 500;
}