<div class="container-fluid" style="border: double;">
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 col-xxl-12" style="padding:0px;margin-right: 20px;">
            <nav class="navbar navbar-dark" style="background-color: #f9f9f9;">
                <div class="container-fluid">
                    <button class="btn btn-primary" type="button" style="background-color: black;
                    border: none;position: relative;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart"
                        aria-controls="offcanvasStart"><i class="bi bi-list bg-dark"
                            style="padding-left: 11px;padding-right: 11px;"></i></button>

                    <h1>Dashboard</h1>
                    <div class="dropdown d-flex align-items-center">
                        <a class="btn btn-warning dropdown-toggle text-center" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="padding-right:68px;">
                            <span style="margin-left: 57px;">Admin</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>